.white{
    min-height: 400px;
    .jumbotron{
        height: 340px;
        background-image: url('/images/jumbotron.jpg');
    }
    .celeste{
        height: 60px;
        background-color: #0282F9;
    }
    .action-comics{
        display: flex;
        justify-content: space-between;
        width: 700px;
        margin: 0 auto;
        padding-top: 40px;

        .text{
            width: 65%;
            h2{
                font-size: 18px;
                color: #044A65;
                padding: 15px 0;
            }
            .green{
                height: 30px;
                background-color: rgb(98, 192, 98);
                border-bottom: 1px solid gray;
                display: flex;
                align-items: center;
                .one-green{
                    width: 60%;
                    display: flex;
                    justify-content: space-between;
                    div{
                        font-size: 13px;
                        padding: 0 15px;
                    }
                }
                .two-green{
                    width: 40%;
                    text-align: center;
                    border-left: 1px solid gray;
                }
                
            }
            p{
                color: gray;
                margin-top: 15px;
            }
        }
        .image{
            width: 30%;
            .title{
                width: 100%;
                font-size: 12px;
                display: flex;
                justify-content: end;
                margin-bottom: 6px;
            }
            img{
                width: 100%;
            }
        }
    }

}
.menu-bottom{
    height: 300px;
    background-color: rgb(247, 243, 243);
    margin-top: 30px;
}
.container-menu{
    width: 700px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .left, .right{
        width: 47%;
        height: 100%;
    }
    .titolo{
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid rgb(223, 217, 217);
        
    }
    .riga2{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(223, 217, 217);
        .Art, .testo{
            padding: 8px 0;
        }
        .Art{
            width: 400px;
            font-size: 13px;
        }
        .testo{
            font-size: 13px;
            color: #61D5ED;
        }
        
    }
    .riga2-right{
        height: 26px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(223, 217, 217);
        .Art-right, .testo-right, .testo-right1{
            font-size: 13px;
        }
        .testo-right1{
            width: 200px;
            color: #61D5ED;
        }
        .testo-right{
            width: 200px;
        }
    }
}